In [14]:
import pandas as pd

df = pd.read_csv("../data/casas.csv")

In [15]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

## Baseado no tamanho da casa tentaremos prever o preço que ela será vendida

In [16]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [17]:
X = df.drop("preco", axis=1)
y = df["preco"]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
X_train.head()

      tamanho   ano  garagem
135     156.0  1970        2
1452    100.0  2005        2
762     144.0  2009        2
932     177.0  2006        3
435     154.0  1996        2

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
modelo = LinearRegression()
modelo.fit(X_train, y_train)

LinearRegression()

In [24]:
modelo.predict([[120,2001,2]])

array([191436.53503831])

#### Como o objetivo é apenas criar um modelo simples para por em produção pularemos os passos de avaliação e ajuste do modelo.

# Serialização

In [25]:
import pickle

In [27]:
pickle.dump(modelo, open("modelo_house_prices.sav", "wb"))

In [28]:
import requests

In [42]:
auth = requests.auth.HTTPBasicAuth("julio", "alura")

In [31]:
dados = {
	"tamanho":120,
	"ano": 2001,
	"garagem": 2
}

In [43]:
response = requests.post("http://127.0.0.1:5000/cotacao", json=dados, auth=auth)

In [44]:
response.status_code

200

In [45]:
response.json()

{'preco': 191436.53503831383}